@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animated-fade-in-left {
  animation: fadeInLeft 1.5s ease-out;
}

.inter-custom {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" -10 - 0;
}

/* Custom styles */
.yellow-rectangle {
  position: relative;
  display: inline-block;
}
.yellow-box {
  position: absolute;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  background-color: #ffb800;
  z-index: -1;
}
